
<br />
<h2>{{vm.message}}</h2>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Bid</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.auctionItems">
            <td>{{item.Name}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.CategoryName}}</td>
            <td><button ng-click="vm.grabbedItem($index)">Bid</button></td>
        </tr>
    </tbody>
</table>