
<h2>{{vm.message}}</h2>

<p>Will redirect here after user submits a bid and button will be hidden until user signs in</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Your Bid</th>
            <!--<th>Description</th>-->
            <th>Minimum Price</th>
            <th>Bidding Ends</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prop in vm.userBids">
            <td>{{prop.ItemName}}</td>
            <td>${{prop.Amount}}</td>
            <!--<td>{{prop.Description}}</td>-->
            <td>${{prop.MinPrice}}</td>
            <td>{{prop.BidExpiration}}</td>
            <td><button ng-click="vm.grabUserBid($index)">Edit</button></td>
        </tr>
    </tbody>
</table>