
<h2>{{vm.message}}</h2>

<p>Will redirect here after user submits a bid and button will be hidden until user signs in</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Your Bid</th>
            <th>Highest Current Bid</th>
            <th>Availible</th>
            <th>Bidding Ends</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>(item.name)</td>
            <td>(bid.amount)</td>
            <td>(?????)</td>
            <td>(bid.Availible)</td>
            <td>(item.expiration)</td>
        </tr>
    </tbody>
</table>